


.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 36px;
  font-family: 'Satisfy', cursive;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fffde0;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fffde0;
  background-color: transparent;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgb(27, 37, 49);
	}
}

.top-nav-collapse {
  padding: 0;
  background: rgb(27, 37, 49);
}

.navbar-border {}


.overlay-detail {
  margin: 0 auto;
}

.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

.deco {
  font-family: 'Satisfy', cursive;
}

